* {
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    margin: 42px;
}

form {
    border: 7px black solid;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    margin: 30px 0px;
    padding: 10px;
}

form input{
    margin: 5px;
}

.buttons{
    margin: 16px 0;
}

#reset{
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#reset:hover{
    border: 1.5px black solid;
    transition: 0.3s ease-in-out;
}

#submit{
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;

}

#submit:hover{
    border: 1.5px black solid;
    transition: 0.3s ease-in-out;
}